{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static "polls/style.css"%}">
    <title>Listagem de Enquetes:</title>
  </head>
  <body>
    <header>
      <h1>Listagem de Enquetes</h1>
    </header>
    <main>
      {% if latest_question_list %} {% for question in latest_question_list %}
      <div class="poll-group">
        <h2>{{question.question_text}}</h2>
        {% for choice in question.choice_set.all %}
        <p>{{choice.choice_text}}</p>
        {% endfor %}
        <div class="link-group">
          <a href="{% url 'polls:detail' question.id %}">Quero votar!</a>
        </div>
      </div>
      {% endfor %} {% else %}
      <p>No polls are available</p>
      {% endif %}
    </main>
    <footer>
      <p>Página de Listagem de Enquetes - 2021</p>
    </footer>
  </body>
</html>
